#cloud-config
package_update: true
packages:
  - docker.io
  - curl

runcmd:
  - curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose
  - usermod -aG docker ubuntu
  - systemctl enable docker
  - systemctl start docker