Port 22
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

PermitRootLogin no
PasswordAuthentication no
PubkeyAuthentication yes

AllowTcpForwarding no
GatewayPorts no

ClientAliveInterval 60
ClientAliveCountMax 3

MaxAuthTries 3
MaxSessions 10
MaxStartups 10:30:100

AllowUsers tunnel

AuthorizedKeysFile .ssh/authorized_keys

StrictModes yes
PrintMotd no
X11Forwarding no

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/ssh/sftp-server
